# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv*/
.venv*/
*venv*/
.env

# Node / Next.js
node_modules/
.next/
out/
build/

# AI Model artifacts
*.h5
*.npy
saved_model/
dataset/

# OS
.DS_Store
Thumbs.db
